:root{
    --violet-doux: #6C63FF;
    --voilet-foncé: #534EDD;
    --orange-vif: #FFA726;
    --gris-foncé: #666;
    --gris-tres-clair: #F8F8F8;
    --gris-clair: #EEE;
}
h1 {
    color: var(--voilet-foncé);
}
